Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "bin/*": ["eslint --fix", "git add"],
  "!(package*).json": ["prettier --write", "git add"],
  "*.{yml,md,html}": ["prettier --write", "git add"]
}

Export check functionality for consumption by wrapper modules
  lib/cli/run.js
Due: eslint --fix

update mkdirp
  package-lock.json
  package.json
Due: none

Improve hook pattern of 'this.skip()' in beforeAll (#4223)
  lib/runnable.js
  lib/runner.js
  test/integration/fixtures/pending/skip-async-before-hooks.fixture.js
  test/integration/fixtures/pending/skip-sync-before-hooks.fixture.js
  test/integration/fixtures/pending/skip-sync-before-inner.fixture.js
  test/integration/pending.spec.js
Due: eslint --fix

update mkdirp to v0.5.5 (#4222)
  package-lock.json
  package.json
Due: none

remove Runnable@inspect
  lib/runnable.js
Due: eslint --fix

remove utils.ngettext
  lib/runner.js
  lib/utils.js
  test/unit/runner.spec.js
  test/unit/utils.spec.js
Due: eslint --fix

Remove Runnable#inspect() and utils.ngettext() (#4230)
  lib/runnable.js
  lib/runner.js
  lib/utils.js
  test/unit/runner.spec.js
  test/unit/utils.spec.js
Due: eslint --fix

report skipped tests upon failing beforeAll
  lib/reporters/base.js
  lib/reporters/spec.js
  lib/runnable.js
  lib/runner.js
  lib/stats-collector.js
  lib/suite.js
Due: eslint --fix

adapt existing tests
  test/integration/fixtures/glob/glob.spec.js
  test/integration/fixtures/glob/nested/glob.spec.js
  test/integration/glob.spec.js
Due: eslint --fix

adapt reporter 'json', assertions.js, helpers.js
  lib/reporters/json.js
  test/assertions.js
  test/integration/helpers.js
Due: eslint --fix

extend existing tests
  test/integration/fixtures/hooks/before-hook-async-error-tip.fixture.js
  test/integration/fixtures/hooks/before-hook-async-error.fixture.js
  test/integration/fixtures/hooks/before-hook-deepnested-error.fixture.js
  test/integration/fixtures/hooks/before-hook-error-tip.fixture.js
  test/integration/fixtures/hooks/before-hook-error.fixture.js
  test/integration/fixtures/hooks/before-hook-nested-error.fixture.js
  test/integration/hook-err.spec.js
Due: eslint --fix

docs
  docs/index.md
Due: prettier --write

reporter tests
  test/reporters/base.spec.js
  test/reporters/helpers.js
  test/reporters/json.spec.js
  test/reporters/spec.spec.js
Due: eslint --fix

WIP: concurrency based on worker threads; see #2839 [ci skip]
  .eslintrc.yml
  lib/buffered-runner.js
  lib/cli/run-helpers.js
  lib/cli/run-option-metadata.js
  lib/cli/run.js
  lib/mocha.js
  lib/reporters/buffered.js
  lib/worker.js
  package.json
Due: eslint --fix, prettier --write

somewhat reasonable re-implementation using child processes
  .eslintrc.yml
  .mocharc.yml
  lib/buffered-runner.js
  lib/cli/run.js
  lib/hook.js
  lib/reporters/base.js
  lib/reporters/buffered.js
  lib/runner.js
  lib/serializer.js
  lib/suite.js
  lib/test.js
  lib/worker.js
  package.json
  test/integration/diffs.spec.js
  test/integration/helpers.js
  test/unit/hook-timeout.spec.js
  test/unit/throw.spec.js
Due: eslint --fix, prettier --write

pull in promise.allsettled shim
  lib/buffered-runner.js
  package.json
Due: eslint --fix

revert refactor of setting test.speed in runner
  lib/reporters/base.js
  lib/runner.js
  test/node-unit/mocha.spec.js
Due: eslint --fix

string tweak in package-scripts.js
  package-scripts.js
Due: eslint --fix

remove concurrency stuff from bundle
  package-scripts.js
  package.json
Due: eslint --fix

add some tests
  lib/buffered-runner.js
  lib/hook.js
  lib/serializer.js
  lib/suite.js
  lib/test.js
  lib/worker.js
  test/integration/fixtures/options/parallel/a.fixture.js
  test/integration/fixtures/options/parallel/b.fixture.js
  test/integration/fixtures/options/parallel/c.fixture.js
  test/integration/fixtures/options/parallel/d.fixture.js
  test/integration/helpers.js
  test/integration/options/parallel.spec.js
  test/node-unit/serializer.spec.js
Due: eslint --fix

add a lot of unit test coverage around serialization/deserialization
  lib/reporters/buffered.js
  lib/serializer.js
  test/node-unit/serializer.spec.js
Due: eslint --fix

browserify fixes
  .travis.yml
  karma.conf.js
  package-scripts.js
  package.json
Due: eslint --fix, prettier --write

upgrade unexpected-eventemitter
  package-lock.json
  package.json
Due: none

increase timeout for options tests
  test/node-unit/cli/options.spec.js
Due: eslint --fix

add more buffered-runner tests
  .wallaby.js
  lib/buffered-runner.js
  package.json
  test/node-unit/buffered-runner.spec.js
  test/node-unit/serializer.spec.js
  test/unit/runner.spec.js
Due: eslint --fix

add test for Buffered reporter
  .eslintrc.yml
  lib/reporters/buffered.js
  test/reporters/buffered.spec.js
Due: eslint --fix, prettier --write

add some tests for BufferedRunner
  lib/buffered-runner.js
  test/node-unit/buffered-runner.spec.js
Due: eslint --fix

ignoring some missed coverage
  lib/buffered-runner.js
Due: eslint --fix

remove useless calls to rewiremock
  test/node-unit/buffered-runner.spec.js
  test/node-unit/cli/config.spec.js
  test/node-unit/cli/options.spec.js
  test/reporters/buffered.spec.js
Due: eslint --fix

add unit-ish tests for worker
  lib/worker.js
  test/node-unit/worker.spec.js
Due: eslint --fix

add some assertions for RawRunResult to match JSONRunResult
  test/assertions.js
Due: eslint --fix

add assertion to check exit code of a RawResult
  test/assertions.js
Due: eslint --fix

add a debug stmt to Buffered reporter
  lib/reporters/buffered.js
Due: eslint --fix

fix issue with serialization of cyclic objects
  lib/serializer.js
  test/node-unit/serializer.spec.js
Due: eslint --fix

refactor/reorganize some of the integration test helpers
  test/integration/helpers.js
Due: eslint --fix

add a simple integration test for --jobs
  test/integration/options/jobs.spec.js
Due: eslint --fix

add a couple debugs to worker
  lib/worker.js
Due: eslint --fix

fix some flaky tests when run in wallaby
  test/node-unit/cli/config.spec.js
  test/node-unit/mocha.spec.js
Due: eslint --fix
