Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

supportsEsModule default is now to check support for full (>=v12) specification
  lib/mocha.js
  lib/utils.js
  package-lock.json
  test/integration/esm.spec.js
Due: eslint --fix

also test Node v10 esm support
  test/integration/esm.spec.js
Due: eslint --fix

enable esm support in Node v10
  docs/index.md
  lib/mocha.js
  lib/utils.js
  test/integration/esm.spec.js
Due: eslint --fix, prettier --write

restoring package-lock.json to the version with https
  package-lock.json
Due: none

remove .nvmrc; use NODE_VERSION env for netlify
  .nvmrc
  netlify.toml
Due: none

update docs regarding ESM and root hook plugins
  docs/index.md
Due: prettier --write

fix bad error message when incorrectly using ESM
  lib/cli/cli.js
  lib/cli/run.js
  test/integration/fixtures/options/require/root-hook-defs-esm-broken.fixture.js
  test/integration/options/require.spec.js
Due: eslint --fix

Consistent handling of --forbid-only for suites and tests (#4282)
  lib/interfaces/common.js
  lib/suite.js
  test/integration/options/forbidOnly.spec.js
  test/unit/suite.spec.js
Due: eslint --fix

enable esm support in Node v10 (#4299)
  docs/index.md
  lib/mocha.js
  lib/utils.js
  test/integration/esm.spec.js
Due: eslint --fix, prettier --write

options 'spec' and 'ignore': no splitting by comma
  lib/cli/options.js
  test/node-unit/cli/options.spec.js
Due: eslint --fix

Always https protocol on opencollective badges
  docs/index.md
Due: prettier --write

Filter out anonymous donors
  docs/_data/supporters.js
Due: eslint --fix

Root relative CSS hrefs
  docs/_includes/default.liquid
Due: none

Update package-lock.json
  package-lock.json
Due: none

Remove sprite padding
  docs/_includes/supporters.md
Due: prettier --write

Update assetgraph-builder to 8.0.1
  package.json
Due: none

Get rid of avatars.js since the sprites don't work that way
  docs/_includes/supporters.md
  docs/js/avatars.js
Due: eslint --fix, prettier --write

Generate sprite sheets from opencollective avatars to serve them quicker
  .gitignore
  docs/_data/supporters.js
  docs/_includes/supporters.md
Due: eslint --fix, prettier --write

Move all supporter names to a title attribute that always exists
  docs/_includes/supporters.md
Due: prettier --write

Add local netlify folder to gitignore
  .gitignore
Due: none

disable parallel mode by default
  .mocharc.yml
  package-scripts.js
Due: eslint --fix, prettier --write

remove Node v13 from CI test matrix
  .travis.yml
  appveyor.yml
Due: prettier --write

trigger netlify deploy nightly
  .github/workflows/nightly-site-deploy.yml
Due: prettier --write

only use background color for inline diffs
  lib/reporters/base.js
Due: eslint --fix

add a section regarding 3p reporters & parallel mode
  docs/index.md
Due: prettier --write

Avoid supporter spritesheet ending up as external stylesheet in body. Caused render flush that resulted in confusing layout shift on reload
  docs/_includes/default.liquid
  docs/_includes/supporters.md
  docs/css/supporters.css
Due: prettier --write

add temporary logic for testing
  .github/workflows/nightly-site-deploy.yml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: bin/*)
  prettier --write: any of: *.{yml,md,html}
