Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "bin/*": ["eslint --fix", "git add"],
  "!(package*).json": ["prettier --write", "git add"],
  "*.{yml,md,html}": ["prettier --write", "git add"]
}

added filenames to doc reporter
  lib/reporters/doc.js
  test/reporters/doc.spec.js
Due: eslint --fix

refactor Test: add markOnly() for encapsulation (PR #4249)
  lib/interfaces/common.js
  lib/test.js
  test/unit/test.spec.js
Due: eslint --fix

better debug output
  bin/mocha
  lib/cli/config.js
  lib/cli/options.js
  lib/cli/run-helpers.js
  lib/runner.js
Due: eslint --fix

enable emoji on website; enable normal ul elements
  .eleventy.js
  .markdownlint.json
  docs/css/style.css
  package.json
  scripts/markdown-magic.config.js
Due: eslint --fix

enable emoji on website; enable normal ul elements
  .eleventy.js
  .markdownlint.json
  docs/css/style.css
  package-lock.json
  package.json
  scripts/markdown-magic.config.js
Due: eslint --fix

fixes some signal handling
  lib/reporters/landing.js
  test/integration/helpers.js
  test/integration/options/exit.spec.js
Due: eslint --fix

fix nyc ignorelist
  .nycrc
Due: none

travis: add job names, add Node.js v14 to matrix
  .travis.yml
  appveyor.yml
Due: prettier --write

type check before calling retriedTest()
  lib/runner.js
Due: eslint --fix

add test case for #4251
  test/unit/runner.spec.js
Due: eslint --fix

test helper improvements
  test/assertions.js
  test/integration/helpers.js
Due: eslint --fix

increase timeout in watch test for CI
  test/integration/helpers.js
  test/integration/options/watch.spec.js
Due: eslint --fix

add wallaby logo to bottom of site
  docs/_includes/default.html
  docs/css/style.css
  docs/images/wallaby-logo.png
Due: prettier --write

Remove Runnable#inspect() and utils.ngettext() (#4230)
  lib/runnable.js
  lib/runner.js
  lib/utils.js
  test/unit/runner.spec.js
  test/unit/utils.spec.js
Due: eslint --fix

add test case: type check before calling retriedTest()
  test/unit/runner.spec.js
Due: eslint --fix

update CHANGELOG for v7.1.2 [ci skip]
  CHANGELOG.md
  package.json
Due: prettier --write

Release v7.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Mark HTTP 429 responses as allowed failures in hyperlink check. We sometimes get these from unpkg and it shouldnt block out builds
  package-scripts.js
Due: eslint --fix

update CHANGELOG for v7.1.2 [ci skip]
  CHANGELOG.md
Due: prettier --write

Mark HTTP 429 responses as allowed failures in hyperlink check. We sometimes get these from unpkg and it shouldnt block out builds (#4253)
  package-scripts.js
Due: eslint --fix

merge PR4221 - beforeAll
  docs/index.md
  lib/reporters/base.js
  lib/reporters/json.js
  lib/reporters/spec.js
  lib/runnable.js
  lib/runner.js
  lib/stats-collector.js
  lib/suite.js
  test/assertions.js
  test/integration/fixtures/glob/glob.spec.js
  test/integration/fixtures/glob/nested/glob.spec.js
  test/integration/fixtures/hooks/before-hook-async-error-tip.fixture.js
  test/integration/fixtures/hooks/before-hook-async-error.fixture.js
  test/integration/fixtures/hooks/before-hook-deepnested-error.fixture.js
  test/integration/fixtures/hooks/before-hook-error-tip.fixture.js
  test/integration/fixtures/hooks/before-hook-error.fixture.js
  test/integration/fixtures/hooks/before-hook-nested-error.fixture.js
  test/integration/glob.spec.js
  test/integration/helpers.js
  test/integration/hook-err.spec.js
  test/reporters/base.spec.js
  test/reporters/helpers.js
  test/reporters/json.spec.js
  test/reporters/spec.spec.js
Due: eslint --fix, prettier --write

refactor validatePlugins to throw coded errors
  lib/cli/run-helpers.js
  lib/errors.js
  test/node-unit/cli/fixtures/bad-module.fixture.js
  test/node-unit/cli/run-helpers.spec.js
Due: eslint --fix

Update @mocha/docdash to 2.1.3
  package-lock.json
  package.json
Due: none

add fixtures that result in it.only combined with --forbid-only bug
  test/integration/fixtures/options/forbid-only/only-before-each.fixture.js
  test/integration/fixtures/options/forbid-only/only-before.fixture.js
Due: eslint --fix

adapt forbidonly test cases to cover it.only bug
  test/integration/options/forbidOnly.spec.js
Due: eslint --fix

check if forbid only option is set prior to marking a test only and throw error
  lib/interfaces/common.js
Due: eslint --fix

change name of only test back to previous
  test/integration/options/forbidOnly.spec.js
Due: eslint --fix
