Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Reduce rollup noise (#4363)
  karma.conf.js
  package.json
  rollup.config.js
  scripts/karma-rollup-plugin.js
Due: eslint --fix

fixes failure output in mocha init w/o target
  lib/cli/cli.js
  test/integration/init.spec.js
Due: eslint --fix

add yield fixture support
  lib/runnable.js
  lib/runner.js
Due: eslint --fix

add tests
  test/integration/fixtures/uncaught/yield.fixture.js
  test/integration/yield-fixture.spec.js
Due: eslint --fix

mark Runnable#retries and Runnable#currentRetry methods as public
  lib/runnable.js
Due: eslint --fix

Fixing typos
  lib/cli/watch-run.js
  lib/errors.js
  lib/mocha.js
  lib/utils.js
Due: eslint --fix

block more spammers using regexes
  docs/_data/blocklist.json
  docs/_data/supporters.js
Due: eslint --fix

handle errors in supporter images during 11ty build
  docs/_data/supporters.js
  netlify.toml
  package-lock.json
  package.json
Due: eslint --fix

add pirate tv site to blocklist
  docs/_data/blocklist.json
Due: none

build a UMD bundle instead of IIFE
  .eslintrc.yml
  browser-entry.js
  lib/browser/template.html
  rollup.config.js
  scripts/karma-rollup-plugin.js
Due: eslint --fix, prettier --write

fix broken tests
  browser-entry.js
  karma.conf.js
  scripts/karma-rollup-plugin.js
Due: eslint --fix

add a proper RequireJS integration test
  karma.conf.js
  package-scripts.js
  package.json
  scripts/karma-rollup-plugin.js
  test/browser-specific/fixtures/requirejs/lib.fixture.js
  test/browser-specific/fixtures/requirejs/main.fixture.js
  test/browser-specific/requirejs-setup.js
  test/bundle/amd.spec.js
Due: eslint --fix

use core-js polyfills
  package.json
  rollup.config.js
Due: eslint --fix

fix travis script
  .travis.yml
Due: prettier --write

update Symbol test for IE11
  test/unit/utils.spec.js
Due: eslint --fix

revert change to Symbol-in-object test
  test/unit/utils.spec.js
Due: eslint --fix

remove regenerator-runtime; copy/paste config from stackoverflow
  rollup.config.js
Due: eslint --fix

tweak assertion AGAIN for Symbol
  test/unit/utils.spec.js
Due: eslint --fix

allow custom externals/globals in karma rollup plugin
  karma.conf.js
  scripts/karma-rollup-plugin.js
  test/browser-specific/setup.js
Due: eslint --fix

try to make karma.conf.js less indimidating
  karma.conf.js
Due: eslint --fix

merge fixes
  package-lock.json
  scripts/karma-rollup-plugin.js
Due: eslint --fix

Update javascript-serialize 3.1.0 to 4.0.0
  package.json
Due: none

Change package-lock.json
  package-lock.json
Due: none

fix broken template processing in jsdoc output
  .eleventy.js
  .gitignore
  docs/.eleventyignore
  docs/API.md
  docs/_data/files.js
  docs/api-tutorials/custom-reporter.md
  jsdoc.conf.json
Due: eslint --fix, prettier --write

first batch
  test/unit/runner.spec.js
Due: eslint --fix

update @mocha/docdash
  package-lock.json
  package-scripts.js
  package.json
Due: eslint --fix

feat: Add nodejs file to excludedFiles to invoke error of compat plugin / Add eslint-disable-next-line to Promise return value
  .eslintrc.yml
  lib/mocha.js
Due: eslint --fix, prettier --write

chore: resolved conflict
  .eslintrc.yml
  lib/reporters/tap.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: none

Ensure root level hooks are called when running in watch mode
  lib/cli/watch-run.js
  test/integration/fixtures/options/watch/hook.fixture.js
  test/integration/options/watch.spec.js
Due: eslint --fix

fix #4348
  lib/runner.js
Due: eslint --fix

fix
  lib/runner.js
  test/unit/runner.spec.js
Due: eslint --fix

fix
  lib/runner.js
Due: eslint --fix

fix
  lib/errors.js
  lib/runnable.js
  lib/runner.js
  test/integration/multiple-done.spec.js
  test/unit/runner.spec.js
Due: eslint --fix

fix
  test/unit/runner.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: bin/*)
  prettier --write: any of: *.{yml,md,html}
