Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix version of github action
  .github/workflows/nightly-site-deploy.yml
Due: prettier --write

add empty data parameter to action
  .github/workflows/nightly-site-deploy.yml
Due: prettier --write

revert to schedule
  .github/workflows/nightly-site-deploy.yml
Due: prettier --write

update changelog for v8.0.0
  CHANGELOG.md
Due: prettier --write

Release v8.0.0
  AUTHORS
  package.json
Due: none

Release v8.0.0
  AUTHORS
  package-lock.json
  package.json
Due: none

Add missing newline in .gitignore
  .gitignore
Due: none

Switch opencollective images to self-hosted spritesheet (#4318)
  .gitignore
  docs/_data/supporters.js
  docs/_includes/default.liquid
  docs/_includes/supporters.md
  docs/css/supporters.css
  docs/index.md
  docs/js/avatars.js
  package.json
Due: eslint --fix, prettier --write

Switch opencollective images to self-hosted spritesheet (#4318)
  .gitignore
  docs/_data/supporters.js
  docs/_includes/default.liquid
  docs/_includes/supporters.md
  docs/css/supporters.css
  docs/index.md
  docs/js/avatars.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

update release process in MAINTAINERS.md
  MAINTAINERS.md
Due: prettier --write

Move removal of `uncaughtException` handler into `end` callback
  lib/runner.js
Due: eslint --fix

fix --parallel --watch; closes #4327
  lib/cli/watch-run.js
  test/integration/options/watch.spec.js
Due: eslint --fix

update CHANGELOG for v8.0.1 [ci skip]
  CHANGELOG.md
Due: prettier --write

Release v8.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Release v8.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix misformatted CHANGELOG [ci skip]
  CHANGELOG.md
Due: prettier --write

fix(vulnerabilty): update to serialize-javascript@3.1
  package-lock.json
  package.json
Due: none

Remove bdd.spec.js and tdd.spec.js
  package-scripts.js
Due: eslint --fix

Remove qunit.spec.js
  test/only/qunit.spec.js
Due: eslint --fix

fix(vulnerabilty): update to serialize-javascript@3.1
  package.json
Due: none

fix wrong sponsors images from OC
  docs/_data/supporters.js
Due: eslint --fix

fix wrong sponsors images from OC (#4334)
  docs/_data/supporters.js
Due: eslint --fix

format
  lib/reporters/base.js
Due: eslint --fix

fix(vulnerabilty): switch tiny dependency and use same code
  package.json
Due: none

refact(yargs-unparser): switch import to fix lodash vulnaribility
  CHANGELOG.md
  bin/mocha
  lib/cli/node-flags.js
Due: eslint --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: none

docs: document Node.js --enable-source-maps flag
  docs/index.md
Due: prettier --write

trigger netlify deploy nightly (#4321)
  .github/workflows/nightly-site-deploy.yml
Due: prettier --write

temporarily disable broken OC badges
  README.md
  docs/index.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: bin/*)
  prettier --write: any of: *.{yml,md,html}
