Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "bin/*": ["eslint --fix", "git add"],
  "!(package*).json": ["prettier --write", "git add"],
  "*.{yml,md,html}": ["prettier --write", "git add"]
}

Test spec fixes
  test/node-unit/cli/options.spec.js
  test/unit/utils.spec.js
Due: eslint --fix

Bump linters ecma version
  .eslintrc.yml
Due: prettier --write

fetch sponsors at build time, show ALL non-skeevy sponsors; closes #4271 (#4272)
  .nvmrc
  docs/_data/blacklist.json
  docs/_data/supporters.js
  docs/_includes/backers.md
  docs/_includes/default.liquid
  docs/_includes/sponsors.md
  docs/_includes/supporters.md
  docs/css/style.css
  docs/images/backer-background.svg
  docs/index.md
  docs/js/avatars.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fetch sponsors at build time, show ALL non-skeevy sponsors; closes #4271 (#4272)
  .nvmrc
  docs/_data/blacklist.json
  docs/_data/supporters.js
  docs/_includes/backers.md
  docs/_includes/default.liquid
  docs/_includes/sponsors.md
  docs/_includes/supporters.md
  docs/css/style.css
  docs/images/backer-background.svg
  docs/index.md
  docs/js/avatars.js
  package.json
Due: eslint --fix, prettier --write

Downgrade fs-extra for v7.x release branch
  package-lock.json
  package.json
Due: none

renamed smoke test
  .travis.yml
  test/sanity/sanity.spec.js
  test/smoke/smoke.spec.js
Due: eslint --fix, prettier --write

update CHANGELOG for v7.2.0 [ci skip]
  CHANGELOG.md
Due: prettier --write

Release v7.2.0
  AUTHORS
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Release v7.2.0
  AUTHORS
  CHANGELOG.md
  package.json
Due: prettier --write

Support --require of ESM; closes #4281 Allow files/modules specified in `--require` to be ESM.
  lib/cli/run-helpers.js
  lib/esm-utils.js
Due: eslint --fix

Conditionally generate url for import Windows compatible
  lib/esm-utils.js
Due: eslint --fix

Add tests for --require ESM As both .mjs and type=module (combined with cjs for good measure).
  .eslintrc.yml
  lib/cli/run-helpers.js
  test/integration/fixtures/esm/require.mjs
  test/integration/fixtures/options/require/esm/package.json
  test/integration/fixtures/options/require/esm/root-hook-defs-esm.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-esm.fixture.mjs
  test/integration/options/require.spec.js
Due: eslint --fix, prettier --write

Revert change to eslintrc, use mocha to pass experimental flag
  .eslintrc.yml
  test/integration/options/require.spec.js
Due: eslint --fix, prettier --write

Replace type() -> typeof Add truthy check to handle null edge case
  lib/cli/run-helpers.js
  test/integration/fixtures/esm/require.mjs
Due: eslint --fix

Remove doc limitation for --require ESM
  docs/index.md
Due: prettier --write

Add note to --require docs about ESM support
  docs/index.md
Due: prettier --write

Support --require of ESM; closes #4281 (#4304)
  docs/index.md
  lib/cli/run-helpers.js
  lib/esm-utils.js
  test/integration/fixtures/options/require/esm/package.json
  test/integration/fixtures/options/require/esm/root-hook-defs-esm.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-esm.fixture.mjs
  test/integration/options/require.spec.js
Due: eslint --fix, prettier --write

add docs for parallel and root hooks
  docs/index.md
Due: prettier --write

implement markOnly method for suite class
  lib/suite.js
Due: eslint --fix

add test cases to cover suites markOnly method
  test/unit/suite.spec.js
Due: eslint --fix

make forbidOnly option throw exception even if suite is excluded by grep
  lib/interfaces/common.js
Due: eslint --fix

adapt test cases to changed forbidOnly logic
  test/integration/options/forbidOnly.spec.js
Due: eslint --fix

reuse existing sandbox variable
  test/unit/suite.spec.js
Due: eslint --fix

remove unnecessary check for forbid only option
  lib/interfaces/common.js
Due: eslint --fix

remove Node v13 from CI test matrix
  .travis.yml
  appveyor.yml
Due: prettier --write

fix bad error message when incorrectly using ESM
  lib/cli/cli.js
  lib/cli/run.js
  test/integration/fixtures/options/require/root-hook-defs-esm-broken.fixture.js
  test/integration/options/require.spec.js
Due: eslint --fix

remove duplicate beforeEach afterEach defined for markOnly test suite
  test/unit/suite.spec.js
Due: eslint --fix

update docs regarding ESM and root hook plugins
  docs/index.md
Due: prettier --write
