Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "bin/*": ["eslint --fix", "git add"],
  "!(package*).json": ["prettier --write", "git add"],
  "*.{yml,md,html}": ["prettier --write", "git add"]
}

fix: add Mocha to global variable
  rollup.config.js
  test/browser-specific/esm.spec.mjs
Due: eslint --fix

ci(win): setup GH actions for windows CI
  .github/workflows/windows-ci.yml
Due: prettier --write

ci(win): retire AppVeyor
  .github/CONTRIBUTING.md
  MAINTAINERS.md
  appveyor.yml
  karma.conf.js
Due: eslint --fix, prettier --write

ci(win): install production deps for smoke test
  .github/workflows/windows-ci.yml
Due: prettier --write

Fix typo
  jsdoc.json
  lib/nodejs/serializer.js
Due: eslint --fix

Fix typos
  lib/mocha.js
  lib/runner.js
  lib/utils.js
Due: eslint --fix

Update Code of Conduct governance document link in CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

Fix netlify deploy preview issue
  jsdoc.conf.json
Due: none

ci(win): remove lint from Windows CI
  .github/workflows/windows-ci.yml
Due: prettier --write

ci(win): skip ci base on commit msg
  .github/workflows/windows-ci.yml
Due: prettier --write

Fixing typos (#4404)
  lib/mocha.js
  lib/nodejs/serializer.js
  lib/runner.js
  lib/utils.js
Due: eslint --fix

update js reference link (map, assign) in lib/utils.js
  lib/utils.js
Due: eslint --fix

Update Code of Conduct governance document link in CODE_OF_CONDUCT.md (#4405)
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

fix broken template processing in jsdoc output (#4381)
  .eleventy.js
  .gitignore
  docs/.eleventyignore
  docs/API.md
  docs/_data/files.js
  docs/api-tutorials/custom-reporter.md
  jsdoc.conf.json
  package-lock.json
  package-scripts.js
  package.json
Due: eslint --fix, prettier --write

fix broken template processing in jsdoc output (#4381)
  .eleventy.js
  .gitignore
  docs/.eleventyignore
  docs/API.md
  docs/_data/files.js
  docs/api-tutorials/custom-reporter.md
  jsdoc.conf.json
  package-scripts.js
  package.json
Due: eslint --fix, prettier --write

Update dependencies & dev dependencies
  package.json
Due: none

fix build, remove spec:true from babel config
  .lintstagedrc.json
  package-lock.json
  rollup.config.js
Due: eslint --fix

Update dependencies & dev dependencies (#4396)
  .lintstagedrc.json
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix

Update dependencies & dev dependencies (#4396)
  .lintstagedrc.json
  package.json
  rollup.config.js
Due: eslint --fix

amend 2bcab19; put change in browser-entry.js
  browser-entry.js
  rollup.config.js
Due: eslint --fix

amend 2b8a1ff; put change in browser-entry.js
  browser-entry.js
  rollup.config.js
Due: eslint --fix

fix typo & org members link in CONTRIBUTING.md
  .github/CONTRIBUTING.md
  docs/_data/supporters.js
Due: eslint --fix, prettier --write

improvement: apply review comment
  lib/reporters/base.js
  test/reporters/base.spec.js
Due: eslint --fix

improvement: remove only
  test/reporters/base.spec.js
Due: eslint --fix

fix typo & org members link in CONTRIBUTING.md (#4413)
  .github/CONTRIBUTING.md
  docs/_data/supporters.js
Due: eslint --fix, prettier --write

fix: the number of concurrent job when parallel mode without jobs option.
  lib/cli/run-helpers.js
Due: eslint --fix

prefer all mocha flags over node flags; closes #4417
  lib/cli/node-flags.js
  lib/cli/run-option-metadata.js
  test/node-unit/cli/node-flags.spec.js
Due: eslint --fix

update changelog for v8.1.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Release v8.1.2
  AUTHORS
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Release v8.1.2
  AUTHORS
  CHANGELOG.md
  package.json
Due: prettier --write
