Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix
  lib/runnable.js
  test/integration/multiple-done.spec.js
Due: eslint --fix

fix
  test/integration/multiple-done.spec.js
Due: eslint --fix

fix
  lib/errors.js
  lib/runnable.js
  test/integration/multiple-done.spec.js
  test/unit/runner.spec.js
Due: eslint --fix

fix
  lib/errors.js
  test/unit/runner.spec.js
Due: eslint --fix

build UMD bundle and polyfill language features (#4366)
  .eslintrc.yml
  .travis.yml
  browser-entry.js
  karma.conf.js
  lib/browser/template.html
  package-scripts.js
  package.json
  rollup.config.js
  scripts/karma-rollup-plugin.js
  test/browser-specific/fixtures/requirejs/lib.fixture.js
  test/browser-specific/fixtures/requirejs/main.fixture.js
  test/browser-specific/requirejs-setup.js
  test/browser-specific/setup.js
  test/bundle/amd.spec.js
  test/unit/utils.spec.js
Due: eslint --fix, prettier --write

build UMD bundle and polyfill language features (#4366)
  .eslintrc.yml
  .travis.yml
  browser-entry.js
  karma.conf.js
  lib/browser/template.html
  package-lock.json
  package-scripts.js
  package.json
  rollup.config.js
  scripts/karma-rollup-plugin.js
  test/browser-specific/fixtures/requirejs/lib.fixture.js
  test/browser-specific/fixtures/requirejs/main.fixture.js
  test/browser-specific/requirejs-setup.js
  test/browser-specific/setup.js
  test/bundle/amd.spec.js
  test/unit/utils.spec.js
Due: eslint --fix, prettier --write

Addressing PR feedback
  lib/runner.js
  test/unit/runner.spec.js
Due: eslint --fix

rename "suite" to "suite1" to make test cases clearer
  test/integration/fixtures/multiple-done-before-each.fixture.js
  test/integration/fixtures/multiple-done-before.fixture.js
  test/integration/multiple-done.spec.js
Due: eslint --fix

addressing PR feedback
  test/integration/multiple-done.spec.js
Due: eslint --fix

ensure hook titles are consistent; closes #4348 (PR #4383)
  lib/runner.js
  test/integration/fixtures/multiple-done-before-each.fixture.js
  test/integration/fixtures/multiple-done-before.fixture.js
  test/integration/multiple-done.spec.js
  test/unit/runner.spec.js
Due: eslint --fix

Update javascript-serialize 3.1.0 to 4.0.0; closes #4375 (#4378)
  package-lock.json
  package.json
Due: none

Update javascript-serialize 3.1.0 to 4.0.0; closes #4375 (#4378)
  package.json
Due: none

Ensure root level hooks are called when running in watch mode
  lib/cli/watch-run.js
  test/integration/fixtures/options/watch/hook.fixture.js
  test/integration/options/watch.spec.js
Due: eslint --fix

update CHANGELOG for v8.1.0
  CHANGELOG.md
Due: prettier --write

Fixing typos
  lib/cli/watch-run.js
  lib/errors.js
  lib/mocha.js
  lib/utils.js
Due: eslint --fix

handle errors in supporter images during 11ty build
  docs/_data/supporters.js
  netlify.toml
  package.json
Due: eslint --fix

handle errors in supporter images during 11ty build
  docs/_data/supporters.js
  netlify.toml
  package-lock.json
  package.json
Due: eslint --fix

cache Growl installer on AppVeyor
  appveyor.yml
Due: prettier --write

devDependency updates for v8.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

devDependency updates for v8.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

add git tag message to .npmrc
  .npmrc
Due: none

Release v8.1.0
  AUTHORS
  CHANGELOG.md
  package.json
Due: prettier --write

Release v8.1.0
  AUTHORS
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix window width problem; closes #4393
  lib/reporters/base.js
Due: eslint --fix

update CHANGELOG.md for v8.1.1
  CHANGELOG.md
Due: prettier --write

Release v8.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

Release v8.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update esm-utils.js
  lib/esm-utils.js
Due: eslint --fix

fix(base): if message and stacktrace overlap remove duplicates
  lib/reporters/base.js
  lib/runner.js
  test/reporters/base.spec.js
Due: eslint --fix

improvement: remove describe only
  test/reporters/base.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: bin/*)
  prettier --write: any of: *.{yml,md,html}
