Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "bin/*": ["eslint --fix", "git add"],
  "!(package*).json": ["prettier --write", "git add"],
  "*.{yml,md,html}": ["prettier --write", "git add"]
}

[ci skip] set node.js versions for Netlify
  netlify.toml
Due: none

exclude IE8 from site target browsers
  package-scripts.js
Due: eslint --fix

assorted test fixes & refactors (#4240)
  .mocharc.yml
  example/config/.mocharc.yml
  lib/mocha.js
  test/integration/diffs.spec.js
  test/integration/fixtures/uncaught/listeners.fixture.js
  test/integration/options/watch.spec.js
  test/node-unit/cli/config.spec.js
  test/node-unit/cli/options.spec.js
  test/node-unit/fixtures/dumb-module.js
  test/node-unit/fixtures/dumber-module.js
  test/node-unit/mocha.spec.js
  test/unit/hook-timeout.spec.js
  test/unit/runner.spec.js
  test/unit/throw.spec.js
  test/unit/timeout.spec.js
Due: eslint --fix, prettier --write

test helper improvements (#4241)
  test/assertions.js
  test/integration/helpers.js
Due: eslint --fix

rename fixtures to have .fixture.js extension
  test/node-unit/fixtures/dumb-module.fixture.js
  test/node-unit/fixtures/dumb-module.js
  test/node-unit/fixtures/dumber-module.fixture.js
  test/node-unit/fixtures/dumber-module.js
  test/node-unit/mocha.spec.js
Due: eslint --fix

fix: check if module.paths really exists (#4194); closes #2505
  lib/cli/cli.js
  lib/mocha.js
Due: eslint --fix

implement markOnly instance method in suite class
  lib/suite.js
Due: eslint --fix

add unit test for suites markOnly method
  test/unit/suite.spec.js
Due: eslint --fix

throw exception if --forbid-only option is set even if suite is not selected by grep
  lib/interfaces/common.js
Due: eslint --fix

adapt forbidOnly integration tests to check for failure if only suite is not selected by grep
  test/integration/options/forbidOnly.spec.js
Due: eslint --fix

Remove superfluous logic.
  lib/runnable.js
Due: eslint --fix

Use correct timeout value
  lib/runnable.js
Due: eslint --fix

Add note about `enableTimeouts` to docs
  docs/index.md
Due: prettier --write

Swap asser to expect
  test/integration/timeout.spec.js
Due: eslint --fix

Spec update
  test/integration/timeout.spec.js
Due: eslint --fix

Use function which logs
  lib/runnable.js
Due: eslint --fix

Update comment
  docs/index.md
Due: prettier --write

Reset enableTimeouts. Integration test
  lib/runnable.js
  test/integration/fixtures/timeout-override.fixture.js
  test/integration/timeout.spec.js
  test/unit/timeout.spec.js
Due: eslint --fix

Disable if setting == or grtr to upper
  lib/runnable.js
  test/unit/runnable.spec.js
Due: eslint --fix

Defensive check for 0
  lib/runnable.js
Due: eslint --fix

Lint fix
  docs/index.md
Due: prettier --write

Add note about async tests
  docs/index.md
Due: prettier --write

Remove _enableTimeouts
  lib/context.js
  lib/mocha.js
  lib/runnable.js
  lib/suite.js
  lib/test.js
  test/integration/fixtures/timeout-override.fixture.js
  test/unit/context.spec.js
  test/unit/mocha.spec.js
  test/unit/runnable.spec.js
  test/unit/test.spec.js
  test/unit/timeout.spec.js
Due: eslint --fix

Excl docs in coverage + clamp in suite.
  .nycrc
  lib/suite.js
Due: eslint --fix

Remove enableTimeout api + allow overriding a disabled timeout (#4260)
  .nycrc
  docs/index.md
  lib/context.js
  lib/mocha.js
  lib/runnable.js
  lib/suite.js
  lib/test.js
  test/integration/fixtures/timeout-override.fixture.js
  test/integration/timeout.spec.js
  test/unit/context.spec.js
  test/unit/mocha.spec.js
  test/unit/runnable.spec.js
  test/unit/test.spec.js
  test/unit/timeout.spec.js
Due: eslint --fix, prettier --write

fix jsdocs of suite markonly
  lib/suite.js
Due: eslint --fix

Update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

Add ability to run tests in a mocha instance multiple times (#4234); closes #2783
  browser-entry.js
  lib/errors.js
  lib/hook.js
  lib/mocha.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
  lib/test.js
  test/integration/fixtures/multiple-runs/clean-references.fixture.js
  test/integration/fixtures/multiple-runs/dispose.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-different-output-suite.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-flaky-before-each-suite.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-flaky-before-each.fixture.js
  test/integration/fixtures/multiple-runs/run-thrice-helper.js
  test/integration/fixtures/multiple-runs/run-thrice.fixture.js
  test/integration/fixtures/multiple-runs/start-second-run-if-previous-is-still-running-suite.fixture.js
  test/integration/fixtures/multiple-runs/start-second-run-if-previous-is-still-running.fixture.js
  test/integration/multiple-runs.spec.js
  test/unit/hook.spec.js
  test/unit/mocha.spec.js
  test/unit/runnable.spec.js
  test/unit/runner.spec.js
  test/unit/suite.spec.js
  test/unit/test.spec.js
Due: eslint --fix

Revert "fix jsdocs of suite markonly"
  lib/suite.js
Due: eslint --fix

Revert "adapt forbidOnly integration tests to check for failure if only suite is not selected by grep"
  test/integration/options/forbidOnly.spec.js
Due: eslint --fix

Revert "throw exception if --forbid-only option is set even if suite is not selected by grep"
  lib/interfaces/common.js
Due: eslint --fix

Revert "add unit test for suites markOnly method"
  test/unit/suite.spec.js
Due: eslint --fix

Revert "implement markOnly instance method in suite class"
  lib/suite.js
Due: eslint --fix
