Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

temporarily disable broken OC badges
  README.md
  docs/index.md
Due: prettier --write

Revert "temporarily disable broken OC badges"
  README.md
  docs/index.md
Due: prettier --write

fix(vulnerability): update yargs-unparser to v1.6.1
  package-lock.json
  package.json
Due: none

add missing commit in v8.0.0 release
  CHANGELOG.md
Due: prettier --write

add missing commit in v8.0.0 release (#4337)
  CHANGELOG.md
Due: prettier --write

if you say so...
  lib/reporters/base.js
Due: eslint --fix

Use background color in an inline-diffs (#4287)
  lib/reporters/base.js
Due: eslint --fix

Prioritise delay option
  browser-entry.js
Due: eslint --fix

lint fix
  browser-entry.js
Due: eslint --fix

update tests by removing call to createSandbox
  test/node-unit/buffered-runner.spec.js
  test/node-unit/buffered-worker-pool.spec.js
  test/node-unit/cli/config.spec.js
  test/node-unit/cli/options.spec.js
  test/node-unit/mocha.spec.js
  test/node-unit/reporters/parallel-buffered.spec.js
  test/node-unit/serializer.spec.js
  test/node-unit/worker.spec.js
  test/reporters/base.spec.js
  test/reporters/dot.spec.js
  test/reporters/json.spec.js
  test/reporters/landing.spec.js
  test/reporters/list.spec.js
  test/reporters/nyan.spec.js
  test/reporters/progress.spec.js
  test/reporters/spec.spec.js
  test/reporters/xunit.spec.js
  test/unit/mocha.spec.js
  test/unit/runner.spec.js
  test/unit/suite.spec.js
  test/unit/test.spec.js
  test/unit/utils.spec.js
Due: eslint --fix

change sinon to const instead of var in buffered-runner.spec.js
  test/node-unit/buffered-runner.spec.js
Due: eslint --fix

Remove serial travis job
  .travis.yml
Due: prettier --write

Remove globals in api docs
  lib/browser/progress.js
  lib/cli/collect-files.js
  lib/interfaces/common.js
  lib/mocha.js
  lib/nodejs/parallel-buffered-runner.js
  lib/nodejs/serializer.js
  lib/pending.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
Due: eslint --fix

Change to trigger the PR checker
  CHANGELOG.md
Due: prettier --write

Revert change to trigger the PR checker
  CHANGELOG.md
Due: prettier --write

Fix runnable + suite
  lib/runnable.js
  lib/suite.js
Due: eslint --fix

Fix Runner issues
  lib/runner.js
Due: eslint --fix

fix issue 4294
  test/unit/runner.spec.js
Due: eslint --fix

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

fix(vulnerabilty): update to yargs-unparser@1.6.1
  package-lock.json
  package.json
Due: none

change blacklist to blocklist
  docs/_data/blocklist.json
  docs/_data/supporters.js
Due: eslint --fix

hide skeevy sponsors
  docs/_data/blocklist.json
Due: none

Use blocklist instead blacklist (#4355)
  docs/_data/blocklist.json
  docs/_data/supporters.js
Due: eslint --fix

Make browser specific TTY interop explicit instead of a magic bundling configuration
  lib/browser/tty.js
  lib/reporters/base.js
  package.json
Due: eslint --fix

Extract lookupFiles from utils to avoid node dependencies in browser bundle
  karma.conf.js
  lib/cli/collect-files.js
  lib/cli/lookupFiles.js
  lib/utils.js
  package.json
  test/integration/file-utils.spec.js
Due: eslint --fix

Remove unnessessary browserify ignore of cli related files and chokidar
  package-scripts.js
  package.json
Due: eslint --fix

Replace browserify with rollup for main library bundling
  .eslintrc.yml
  .gitignore
  package-lock.json
  package-scripts.js
  package.json
  rollup.config.js
  scripts/rollup-manifest-filter.js
Due: eslint --fix, prettier --write

Polyfill global to check if IE11 will start working
  rollup.config.js
Due: eslint --fix

Don't include esm-utils in browser build. Modern syntax breaks IE
  package.json
Due: none

Remove duplicate browserify configuration in karma config file
  karma.conf.js
Due: eslint --fix

Add custom karma rollup plugin and use it to bundle browser tests
  karma.conf.js
  package-lock.json
  package.json
  scripts/karma-rollup-plugin.js
Due: eslint --fix

add process.listeners impl
  browser-entry.js
Due: eslint --fix

Extract browser-only helper functions from shared utils file to their own files
  browser-entry.js
  lib/browser/highlightTags.js
  lib/browser/parseQuery.js
  lib/utils.js
  test/unit/parseQuery.spec.js
  test/unit/utils.spec.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: bin/*)
  prettier --write: any of: *.{yml,md,html}
