Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add browserslist, babel, babel-preset-env and prepare for modern js
  .browserslistrc
  .eslintrc.yml
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix, prettier --write

Add mocha.js.map to npm distributed files
  package.json
Due: none

Improve documentation of self-built karma-rollup-plugin
  scripts/karma-rollup-plugin.js
Due: eslint --fix

Clean up rollup config
  rollup.config.js
Due: eslint --fix

Use util function to check if we're running in a browser
  lib/reporters/base.js
Due: eslint --fix

Renamed lib/cli/lookupFiles.js to lib/cli/lookup-files.js
  lib/cli/collect-files.js
  lib/cli/lookup-files.js
  test/integration/file-utils.spec.js
Due: eslint --fix

Kebab case file names
  browser-entry.js
  lib/browser/highlight-tags.js
  lib/browser/parse-query.js
  test/unit/parse-query.spec.js
Due: eslint --fix

fix bundle path under win32
  scripts/karma-rollup-plugin.js
Due: eslint --fix

Remove last traces of unused browserify
  package-lock.json
  package.json
  scripts/dedefine.js
  scripts/package-json-cullify.js
Due: eslint --fix

Remove serial travis job
  .travis.yml
Due: prettier --write

do not run production build on netlify for PRs
  netlify.toml
  package-scripts.js
  scripts/netlify-headers.js
Due: eslint --fix

upgrade yargs-unparser; closes #4340 (#4354)
  package.json
Due: none

upgrade yargs-unparser; closes #4340 (#4354)
  package-lock.json
  package.json
Due: none

do not run bundle visualizer in CI
  rollup.config.js
Due: eslint --fix

fixes failure output in mocha init w/o target
  lib/cli/cli.js
  test/integration/init.spec.js
Due: eslint --fix

Exclude jsdoc pages from bundling and optimization. Speeds up docs build considerably. Relates to #4356
  package-scripts.js
Due: eslint --fix

Improve conditional
  browser-entry.js
Due: eslint --fix

rename @module tags 2 b filepaths from /lib
  lib/browser/progress.js
  lib/interfaces/common.js
Due: eslint --fix

Browser usage issues with `delay` option (#4341)
  browser-entry.js
Due: eslint --fix

Remove GLOBALS in api docs (#4343)
  lib/browser/progress.js
  lib/cli/collect-files.js
  lib/interfaces/common.js
  lib/mocha.js
  lib/nodejs/parallel-buffered-runner.js
  lib/nodejs/serializer.js
  lib/pending.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
Due: eslint --fix

Remove use of mocha.opts in browser testing
  karma.conf.js
  test/browser-specific/mocha.opts
Due: eslint --fix

Replace package.json browser field with manual rollup exclusion and aliasing
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix

Improved naming of rollup plugin to pick values from package.json
  .eslintrc.yml
  rollup.config.js
  scripts/pick-from-package-json.js
  scripts/rollup-manifest-filter.js
Due: eslint --fix, prettier --write

Revert "Replace package.json browser field with manual rollup exclusion and aliasing"
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix

replace browserify with rollup and babel (#4293)
  .browserslistrc
  .eslintrc.yml
  .gitignore
  browser-entry.js
  karma.conf.js
  lib/browser/highlight-tags.js
  lib/browser/parse-query.js
  lib/browser/tty.js
  lib/cli/collect-files.js
  lib/cli/lookup-files.js
  lib/reporters/base.js
  lib/utils.js
  package-lock.json
  package-scripts.js
  package.json
  rollup.config.js
  scripts/dedefine.js
  scripts/karma-rollup-plugin.js
  scripts/package-json-cullify.js
  scripts/pick-from-package-json.js
  test/browser-specific/mocha.opts
  test/integration/file-utils.spec.js
  test/unit/parse-query.spec.js
  test/unit/utils.spec.js
Due: eslint --fix, prettier --write

replace browserify with rollup and babel (#4293)
  .browserslistrc
  .eslintrc.yml
  .gitignore
  browser-entry.js
  karma.conf.js
  lib/browser/highlight-tags.js
  lib/browser/parse-query.js
  lib/browser/tty.js
  lib/cli/collect-files.js
  lib/cli/lookup-files.js
  lib/reporters/base.js
  lib/utils.js
  package-scripts.js
  package.json
  rollup.config.js
  scripts/dedefine.js
  scripts/karma-rollup-plugin.js
  scripts/package-json-cullify.js
  scripts/pick-from-package-json.js
  test/browser-specific/mocha.opts
  test/integration/file-utils.spec.js
  test/unit/parse-query.spec.js
  test/unit/utils.spec.js
Due: eslint --fix, prettier --write

Silence circular dependency warnings in rollup
  rollup.config.js
Due: eslint --fix

Treat sinon as external in bundled tests
  karma.conf.js
  scripts/karma-rollup-plugin.js
Due: eslint --fix

Let rollup deal with file globbing in karma-rollup-plugin
  scripts/karma-rollup-plugin.js
Due: eslint --fix

Update rollup and all plugins to avoid installation peer dependencies warning
  package-lock.json
  package.json
Due: none

Replace utils.defineConstants with Object.freeze
  lib/mocha.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
  lib/utils.js
Due: eslint --fix

Replace utils.createMap with actual Map's
  lib/nodejs/parallel-buffered-runner.js
  lib/suite.js
  lib/utils.js
  test/unit/utils.spec.js
Due: eslint --fix

Handle non-png responses for opencollective avatars with static grey replacement images
  docs/_data/supporters.js
  package-lock.json
  package.json
Due: eslint --fix

Reuse more rollup config in karma-rollup-plugin
  scripts/karma-rollup-plugin.js
Due: eslint --fix

Reduce rollup noise (#4363)
  karma.conf.js
  package-lock.json
  package.json
  rollup.config.js
  scripts/karma-rollup-plugin.js
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: bin/*)
  prettier --write: any of: *.{yml,md,html}
