Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "bin/*": ["eslint --fix", "git add"],
  "!(package*).json": ["prettier --write", "git add"],
  "*.{yml,md,html}": ["prettier --write", "git add"]
}

refactor validatePlugin() to throw nicer errors
  lib/cli/run-helpers.js
  lib/errors.js
  test/node-unit/cli/run-helpers.spec.js
Due: eslint --fix

fix jsdoc types
  lib/buffered-runner.js
  lib/cli/run-helpers.js
  lib/cli/watch-run.js
  lib/serializer.js
Due: eslint --fix

avoid flake in --require test via burly regexp
  test/integration/options/require.spec.js
Due: eslint --fix

improve another regexp in --require test
  test/integration/options/require.spec.js
Due: eslint --fix

update some debug statements in bin/mocha
  bin/mocha
Due: eslint --fix

fix landing reporter to not spam SIGINT handlers
  lib/reporters/landing.js
Due: eslint --fix

fix integration test helper to not completely ignore SIGINT
  test/integration/helpers.js
Due: eslint --fix

try to fix ESM test
  test/integration/options/parallel.spec.js
Due: eslint --fix

BufferedRunner fixes
  lib/buffered-runner.js
  test/node-unit/buffered-runner.spec.js
Due: eslint --fix

tweak nyc
  .nycrc
  .travis.yml
  package-scripts.js
Due: eslint --fix, prettier --write

add warning if no multiple cores
  lib/buffered-runner.js
Due: eslint --fix

get some debug info
  .travis.yml
Due: prettier --write

fix default job count, job tests
  lib/buffered-runner.js
  lib/cli/run.js
  test/node-unit/buffered-runner.spec.js
Due: eslint --fix

fix test timeouts in slow parallel tests
  test/integration/options/parallel.spec.js
Due: eslint --fix

reduce debug noise from worker
  lib/worker.js
Due: eslint --fix

fix ESM parallel tests
  test/integration/helpers.js
  test/integration/options/parallel.spec.js
Due: eslint --fix

fix node arg passing to worker processes
  lib/buffered-runner.js
  test/node-unit/buffered-runner.spec.js
Due: eslint --fix

fix string that should have been a var in BufferedRunner
  lib/buffered-runner.js
Due: eslint --fix

fix --require integration test
  test/integration/options/require.spec.js
Due: eslint --fix

remove debugging from travis CI
  .travis.yml
Due: prettier --write

add a serial-mode run (and job names?)
  .travis.yml
Due: prettier --write

update package-scripts.js to respect MOCHA_PARALLEL=0
  package-scripts.js
Due: eslint --fix

allow emoji on website via markdown-it-emoji
  .eleventy.js
  package-lock.json
  package.json
Due: eslint --fix

squelch warning about missing language in a fenced code block
  .markdownlint.json
  scripts/markdown-magic.config.js
Due: eslint --fix

website: add styles for a "normal" single-column ul
  docs/css/style.css
Due: none

add docs for parallel mode and root hook plugins
  docs/index.md
Due: prettier --write

fix bad anchors
  docs/index.md
Due: prettier --write

remove cruft from wallaby config
  .wallaby.js
Due: eslint --fix

travis: add job names, add Node.js v14 to matrix
  .travis.yml
  appveyor.yml
Due: prettier --write

enable emoji on website; enable normal ul elements
  .eleventy.js
  .markdownlint.json
  docs/css/style.css
  package-lock.json
  package.json
  scripts/markdown-magic.config.js
Due: eslint --fix

fixes some signal handling
  lib/reporters/landing.js
  test/integration/helpers.js
  test/integration/options/exit.spec.js
Due: eslint --fix

updated tests and also fixed issue with json-stream reporter
  lib/reporters/json-stream.js
  test/reporters/helpers.js
  test/reporters/json-stream.spec.js
  test/reporters/json.spec.js
Due: eslint --fix

add markOnly instance method to test class
  lib/test.js
Due: eslint --fix

add test cases for markOnly method
  test/unit/test.spec.js
Due: eslint --fix

use markOnly method of test class instead of accessing parent properties method
  lib/interfaces/common.js
Due: eslint --fix

refactor cases for test markOnly
  test/unit/test.spec.js
Due: eslint --fix

refactor test class unit test markOnly to exhaustively satisfy
  test/unit/test.spec.js
Due: eslint --fix

type check before calling retriedTest()
  lib/runner.js
Due: eslint --fix
