Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "bin/*": ["eslint --fix", "git add"],
  "!(package*).json": ["prettier --write", "git add"],
  "*.{yml,md,html}": ["prettier --write", "git add"]
}

Reworked avatars. LEss reflows due to image dimensions. Smoother loading animation that doesn't wait for all images. Progressive enhanced
  docs/_includes/backers.md
  docs/_includes/default.liquid
  docs/_includes/sponsors.md
  docs/_includes/supporters.md
  docs/css/style.css
  docs/images/backer-background.svg
  docs/index.md
  docs/js/avatars.js
Due: eslint --fix, prettier --write

Fetch all open collective sponsor images to save their dimensions
  docs/_data/supporters.js
  package-lock.json
  package.json
Due: eslint --fix

Add standardised lazy loading to all images
  docs/_includes/default.liquid
  docs/index.md
Due: prettier --write

multiple async done() calls result in failure; closes #4151 (#4152)
  lib/cli/collect-files.js
  lib/errors.js
  lib/runnable.js
  lib/runner.js
  package-lock.json
  package-scripts.js
  package.json
  test/integration/fixtures/multiple-done-async.fixture.js
  test/integration/fixtures/multiple-done-before-each.fixture.js
  test/integration/fixtures/uncaught/listeners.fixture.js
  test/integration/multiple-done.spec.js
  test/unit/runnable.spec.js
  test/unit/runner.spec.js
Due: eslint --fix

multiple async done() calls result in failure; closes #4151 (#4152)
  lib/cli/collect-files.js
  lib/errors.js
  lib/runnable.js
  lib/runner.js
  package-scripts.js
  package.json
  test/integration/fixtures/multiple-done-async.fixture.js
  test/integration/fixtures/multiple-done-before-each.fixture.js
  test/integration/fixtures/uncaught/listeners.fixture.js
  test/integration/multiple-done.spec.js
  test/unit/runnable.spec.js
  test/unit/runner.spec.js
Due: eslint --fix

Add node version specification in .nvmrc to get netlify up to date
  .nvmrc
  docs/_data/supporters.js
Due: eslint --fix

chore: address code review
  docs/index.md
Due: prettier --write

docs: document Node.js' --enable-source-maps flag
  docs/index.md
Due: prettier --write

chore: fix anchor link
  docs/index.md
Due: prettier --write

chore: fix typo
  docs/index.md
Due: prettier --write

chore: fix up merge conflict
  docs/index.md
Due: prettier --write

docs: address review
  docs/index.md
Due: prettier --write

Move avatars javascript to external file for better development experience
  docs/_includes/supporters.md
  docs/js/avatars.js
Due: eslint --fix, prettier --write

remove cruft from wallaby config
  .wallaby.js
Due: eslint --fix

refactor Test: add markOnly() for encapsulation (PR #4249)
  lib/interfaces/common.js
  lib/test.js
  test/unit/test.spec.js
Due: eslint --fix

enable emoji on website; enable normal ul elements
  .eleventy.js
  .markdownlint.json
  docs/css/style.css
  package-lock.json
  package.json
  scripts/markdown-magic.config.js
Due: eslint --fix

fixes some signal handling
  lib/reporters/landing.js
  test/integration/helpers.js
  test/integration/options/exit.spec.js
Due: eslint --fix

travis: add job names, add Node.js v14 to matrix
  .travis.yml
  appveyor.yml
Due: prettier --write

better debug output
  bin/mocha
  lib/cli/config.js
  lib/cli/options.js
  lib/cli/run-helpers.js
  lib/runner.js
Due: eslint --fix

fix nyc ignorelist
  .nycrc
Due: none

Mark HTTP 429 responses as allowed failures in hyperlink check. We sometimes get these from unpkg and it shouldnt block out builds (#4253)
  package-scripts.js
Due: eslint --fix

Update @mocha/docdash to 2.1.3
  package-lock.json
  package.json
Due: none

refactor validatePlugins to throw coded errors
  lib/cli/run-helpers.js
  lib/errors.js
  test/node-unit/cli/fixtures/bad-module.fixture.js
  test/node-unit/cli/run-helpers.spec.js
Due: eslint --fix

Fix missing dot in name of configuration file
  docs/index.md
Due: prettier --write

adds a bunch of keywords
  package.json
Due: none

Exposing filename in JSON, doc, and json-stream reporters (#4219)
  lib/reporters/doc.js
  lib/reporters/json-stream.js
  lib/reporters/json.js
  test/reporters/doc.spec.js
  test/reporters/helpers.js
  test/reporters/json-stream.spec.js
  test/reporters/json.spec.js
Due: eslint --fix

assorted test fixes & refactors (#4240)
  .mocharc.yml
  example/config/.mocharc.yml
  lib/mocha.js
  test/integration/diffs.spec.js
  test/integration/fixtures/uncaught/listeners.fixture.js
  test/integration/options/watch.spec.js
  test/node-unit/cli/config.spec.js
  test/node-unit/cli/options.spec.js
  test/node-unit/fixtures/dumb-module.js
  test/node-unit/fixtures/dumber-module.js
  test/node-unit/mocha.spec.js
  test/unit/hook-timeout.spec.js
  test/unit/runner.spec.js
  test/unit/throw.spec.js
  test/unit/timeout.spec.js
Due: eslint --fix, prettier --write

test helper improvements (#4241)
  test/assertions.js
  test/integration/helpers.js
Due: eslint --fix

rename fixtures to have .fixture.js extension
  test/node-unit/fixtures/dumb-module.fixture.js
  test/node-unit/fixtures/dumb-module.js
  test/node-unit/fixtures/dumber-module.fixture.js
  test/node-unit/fixtures/dumber-module.js
  test/node-unit/mocha.spec.js
Due: eslint --fix

fix: check if module.paths really exists (#4194); closes #2505
  lib/cli/cli.js
  lib/mocha.js
Due: eslint --fix

Add ability to run tests in a mocha instance multiple times (#4234); closes #2783
  browser-entry.js
  lib/errors.js
  lib/hook.js
  lib/mocha.js
  lib/runnable.js
  lib/runner.js
  lib/suite.js
  lib/test.js
  test/integration/fixtures/multiple-runs/clean-references.fixture.js
  test/integration/fixtures/multiple-runs/dispose.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-different-output-suite.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-flaky-before-each-suite.fixture.js
  test/integration/fixtures/multiple-runs/multiple-runs-with-flaky-before-each.fixture.js
  test/integration/fixtures/multiple-runs/run-thrice-helper.js
  test/integration/fixtures/multiple-runs/run-thrice.fixture.js
  test/integration/fixtures/multiple-runs/start-second-run-if-previous-is-still-running-suite.fixture.js
  test/integration/fixtures/multiple-runs/start-second-run-if-previous-is-still-running.fixture.js
  test/integration/multiple-runs.spec.js
  test/unit/hook.spec.js
  test/unit/mocha.spec.js
  test/unit/runnable.spec.js
  test/unit/runner.spec.js
  test/unit/suite.spec.js
  test/unit/test.spec.js
Due: eslint --fix

--forbid-only doesn't recognize `it.only` when `before` crashes (#4256); closes #3840
  lib/interfaces/common.js
  lib/runner.js
  test/integration/fixtures/options/forbid-only/only-before-each.fixture.js
  test/integration/fixtures/options/forbid-only/only-before.fixture.js
  test/integration/options/forbidOnly.spec.js
Due: eslint --fix

fix test/unit/hook.spec.js (#4288)
  lib/runner.js
  test/unit/hook.spec.js
Due: eslint --fix

fix improper warnings for invalid reporters (#4275)
  .eslintrc.yml
  lib/cli/cli.js
  lib/cli/config.js
  lib/mocha.js
  lib/utils.js
  package-lock.json
  package.json
  test/node-unit/fixtures/wonky-reporter.fixture.js
  test/node-unit/mocha.spec.js
  test/node-unit/utils.spec.js
  test/unit/mocha.spec.js
Due: eslint --fix, prettier --write

add javascript in docs to eslint
  .eslintignore
  .eslintrc.yml
  docs/js/avatars.js
Due: eslint --fix, prettier --write

smart quotes and such on website; closes #3716
  .eleventy.js
Due: eslint --fix

do not commit generated content to VCS; closes #3713 (#4289)
  .eleventy.js
  .eslintrc.yml
  docs/.eleventyignore
  docs/README.md
  docs/_data/files.js
  docs/_data/toc.js
  docs/_data/usage.js
  docs/api-tutorials/custom-reporter.md
  docs/changelogs/README.md
  docs/index.md
  package-lock.json
  package-scripts.js
  package.json
  scripts/markdown-magic.config.js
Due: eslint --fix, prettier --write

add Root Hook Plugins
  lib/cli/run-helpers.js
  lib/cli/run.js
  lib/mocha.js
  lib/utils.js
  test/integration/fixtures/options/require/root-hook-defs-a.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-b.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-c.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-d.fixture.js
  test/integration/fixtures/options/require/root-hook-test-2.fixture.js
  test/integration/fixtures/options/require/root-hook-test.fixture.js
  test/integration/options/require.spec.js
  test/node-unit/cli/run-helpers.spec.js
  test/node-unit/utils.spec.js
  test/unit/mocha.spec.js
  test/unit/utils.spec.js
Due: eslint --fix

Fix for runnable.spec.js
  lib/runnable.js
Due: eslint --fix
