Repository mochajs/mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

--forbid-only doesn't recognize `it.only` when `before` crashes (#4256); closes #3840
  lib/interfaces/common.js
  lib/runner.js
  test/integration/fixtures/options/forbid-only/only-before-each.fixture.js
  test/integration/fixtures/options/forbid-only/only-before.fixture.js
  test/integration/options/forbidOnly.spec.js
Due: eslint --fix

use Open Box char to show colored spaces in an inline diff
  lib/reporters/base.js
Due: eslint --fix

don't change the color() function
  lib/reporters/base.js
Due: eslint --fix

diffs: switch to using background color instead of visible spaces
  lib/reporters/base.js
Due: eslint --fix

fix test/unit/hook.spec.js
  test/unit/hook.spec.js
Due: eslint --fix

another IE11 fix: avoid Array.prototype.findIndex
  lib/runner.js
Due: eslint --fix

fix test/unit/hook.spec.js (#4288)
  lib/runner.js
  test/unit/hook.spec.js
Due: eslint --fix

fix improper warnings for invalid reporters
  lib/mocha.js
  package-lock.json
  package.json
  test/node-unit/fixtures/wonky-reporter.fixture.js
  test/node-unit/mocha.spec.js
  test/unit/mocha.spec.js
Due: eslint --fix

restrict use of Object.assign
  .eslintrc.yml
  test/unit/mocha.spec.js
Due: eslint --fix, prettier --write

add wrapper around process.cwd()
  lib/cli/cli.js
  lib/cli/config.js
  lib/mocha.js
  lib/utils.js
  test/node-unit/mocha.spec.js
  test/node-unit/utils.spec.js
Due: eslint --fix

fix improper warnings for invalid reporters (#4275)
  .eslintrc.yml
  lib/cli/cli.js
  lib/cli/config.js
  lib/mocha.js
  lib/utils.js
  package-lock.json
  package.json
  test/node-unit/fixtures/wonky-reporter.fixture.js
  test/node-unit/mocha.spec.js
  test/node-unit/utils.spec.js
  test/unit/mocha.spec.js
Due: eslint --fix, prettier --write

fix improper warnings for invalid reporters (#4275)
  .eslintrc.yml
  lib/cli/cli.js
  lib/cli/config.js
  lib/mocha.js
  lib/utils.js
  package.json
  test/node-unit/fixtures/wonky-reporter.fixture.js
  test/node-unit/mocha.spec.js
  test/node-unit/utils.spec.js
  test/unit/mocha.spec.js
Due: eslint --fix, prettier --write

add javascript in docs to eslint
  .eslintignore
  .eslintrc.yml
  docs/js/avatars.js
Due: eslint --fix, prettier --write

smart quotes and such on website; closes #3716
  .eleventy.js
Due: eslint --fix

do not commit generated content to VCS
  .eslintrc.yml
  docs/README.md
  docs/_data/files.js
  docs/_data/toc.js
  docs/_data/usage.js
  docs/api-tutorials/custom-reporter.md
  docs/index.md
  package-lock.json
  package-scripts.js
  package.json
  scripts/markdown-magic.config.js
Due: eslint --fix, prettier --write

add inclusive language plugin to eleventy
  .eleventy.js
  docs/.eleventyignore
  docs/api-tutorials/custom-reporter.md
  docs/changelogs/README.md
  docs/index.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

add Root Hook Plugins
  lib/cli/run-helpers.js
  lib/cli/run.js
  lib/mocha.js
  lib/utils.js
  test/integration/fixtures/options/require/root-hook-defs-a.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-b.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-c.fixture.js
  test/integration/fixtures/options/require/root-hook-defs-d.fixture.js
  test/integration/fixtures/options/require/root-hook-test-2.fixture.js
  test/integration/fixtures/options/require/root-hook-test.fixture.js
  test/integration/options/require.spec.js
  test/node-unit/cli/run-helpers.spec.js
  test/node-unit/utils.spec.js
  test/unit/mocha.spec.js
  test/unit/utils.spec.js
Due: eslint --fix

do not commit generated content to VCS; closes #3713 (#4289)
  .eleventy.js
  .eslintrc.yml
  docs/.eleventyignore
  docs/README.md
  docs/_data/files.js
  docs/_data/toc.js
  docs/_data/usage.js
  docs/api-tutorials/custom-reporter.md
  docs/changelogs/README.md
  docs/index.md
  package-scripts.js
  package.json
  scripts/markdown-magic.config.js
Due: eslint --fix, prettier --write

do not commit generated content to VCS; closes #3713 (#4289)
  .eleventy.js
  .eslintrc.yml
  docs/.eleventyignore
  docs/README.md
  docs/_data/files.js
  docs/_data/toc.js
  docs/_data/usage.js
  docs/api-tutorials/custom-reporter.md
  docs/changelogs/README.md
  docs/index.md
  package-lock.json
  package-scripts.js
  package.json
  scripts/markdown-magic.config.js
Due: eslint --fix, prettier --write

[DO NOT MERGE] show all sponsors on site
  docs/_data/blacklist.json
  docs/_data/supporters.js
  docs/_includes/backers.md
  docs/_includes/default.liquid
  docs/_includes/sponsors.md
  docs/css/style.css
  package.json
Due: eslint --fix, prettier --write

use smaller imgs for backers
  docs/_data/supporters.js
  docs/css/style.css
Due: eslint --fix

multiple async done() calls result in failure; closes #4151
  lib/cli/collect-files.js
  lib/errors.js
  lib/runnable.js
  lib/runner.js
  package-scripts.js
  test/integration/fixtures/multiple-done-async.fixture.js
  test/integration/fixtures/multiple-done-before-each.fixture.js
  test/integration/multiple-done.spec.js
  test/unit/runnable.spec.js
  test/unit/runner.spec.js
Due: eslint --fix

upgrade unexpected-eventemitter
  package-lock.json
  package.json
Due: none

remove Runner#uncaughtEnd
  lib/runner.js
  test/integration/fixtures/uncaught/listeners.fixture.js
Due: eslint --fix

Fetch all open collective sponsor images to save their dimensions
  docs/_data/supporters.js
  package-lock.json
  package.json
Due: eslint --fix

fix test
  test/unit/runner.spec.js
Due: eslint --fix

fix potential listener leak
  lib/runner.js
  test/unit/runner.spec.js
Due: eslint --fix

Reworked avatars. LEss reflows due to image dimensions. Smoother loading animation that doesn't wait for all images. Progressive enhanced
  docs/_includes/backers.md
  docs/_includes/default.liquid
  docs/_includes/sponsors.md
  docs/_includes/supporters.md
  docs/css/style.css
  docs/images/backer-background.svg
  docs/index.md
  docs/js/avatars.js
Due: eslint --fix, prettier --write

Add standardised lazy loading to all images
  docs/_includes/default.liquid
  docs/index.md
Due: prettier --write

Set height on badges to avoid page reflows
  docs/index.md
Due: prettier --write

Add node version specification in .nvmrc to get netlify up to date
  .nvmrc
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: bin/*)
  prettier --write: any of: *.{yml,md,html}
